<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<h1>Now you are on a page, where u can put ur favourite musical performer</h1>
<h3>All groups:</h3>
<body>
<table>
    <tr>
        <td th:if="${#lists.isEmpty(allGroups)}">
            List of groups is empty
        </td>
    </tr>
    <tr th:each="group: ${allGroups}">
        <td>
            <span th:text="${group.groupId}">
            </span>
            <span th:text="${group.nameGroup}">
            </span>
        </td>
        <td>
            <a th:href = "@{/index/{groupId}(groupId=${group.groupId})}">Open</a>
        </td>

    </tr>
</table>

    <br>
    <br>
    <br>

    <form action ="/index" method="post">
<!--        <input name ="groupId" placeholder="Id">-->
        <input name="nameGroup" placeholder="Group name">
        <button type="submit">Put group</button>
    </form>


</body>
</html>